# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
entorno_testturning/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment files
.env

# Test / coverage
.pytest_cache/
